<!-- <ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="3">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Enter your email address"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="3">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" placeholder="Set a password"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-lg="6">
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input placeholder="What is your address?"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-md="6" size-lg="3">
      <ion-item>
        <ion-label position="floating">Town</ion-label>
        <ion-input placeholder="Enter your town"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="3">
      <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input placeholder="Select your state"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="3">
      <ion-item>
        <ion-label position="floating">Zip</ion-label>
        <ion-input placeholder="What is your zip code"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="3">
      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <ion-input placeholder="Select your country"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-lg="3">
      <ion-button expand="block" color="success">
        Create Account
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid> -->
<ion-header>
  <ion-toolbar style="--min-height: 100px">
    <ion-title style="padding-bottom: 15px">2/3</ion-title>
    <ion-title>Post Job </ion-title>

    <ion-button slot="end" id="supporttitle"
      ><ion-icon name="call-outline"></ion-icon>Call customer
      support</ion-button
    >
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-searchbar></ion-searchbar> -->

    <ion-segment value="all">
      <ion-segment-button value="job" content-id="job">
        <ion-label class="ion-text-wrap">Job Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company" content-id="company">
        <ion-label class="ion-text-wrap">Company Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="basic" content-id="basic">
        <ion-label class="ion-text-wrap">Basic Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment-view>
  <ion-segment-content id="company">
<form>
<div class="box">
  <h2 class="heading">Company Details</h2>
  <p>Company Name<span style="color: red">*</span></p>
  <input type="text" />

  <p>Full Address<span style="color: red">*</span></p>

  <input type="text" />
  <p>State<span style="color: red">*</span></p>
  <select name="" id="">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <p>City<span style="color: red">*</span></p>
  <select name="" id="">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <p>Country<span style="color: red">*</span></p>
  <select name="" id="">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <p>Google map Location</p>
  <input type="text">
  <p>Company Website</p>
  <input type="text" />
  <p>About the Company</p>
  <ion-textarea autoGrow="true"> </ion-textarea>
  <p>Industry Type <span style="color: red">*</span></p>
  <select name="" id="">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <p>Number of Employees</p>
  <input type="number" name="" id="" />
  <p>Year of Establishment</p>
  <input type="number" name="" id="" />
   <div class="btn">
    <ion-button  (click)="prev.emit()">Back</ion-button>
  <ion-button (click)="next.emit()">Next</ion-button>
   </div>
</div>
</form>

</ion-segment-content>
</ion-segment-view>
</ion-content>