<ion-header>
  <ion-toolbar style="--min-height: 100px">
    <ion-title style="padding-bottom: 15px">1/3</ion-title>
    <ion-title>Post Job </ion-title>

    <ion-button slot="end" id="supporttitle" >
      <ion-icon name="call-outline"></ion-icon>Call customer support</ion-button
    >
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="job">
      <ion-segment-button
        value="job"
        content-id="job"
        style="background-color: purple; color: white !important"
      >
        <ion-label class="ion-text-wrap">Job Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company" content-id="company">
        <ion-label class="ion-text-wrap">Company Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="basic" content-id="basic">
        <ion-label class="ion-text-wrap">Basic Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-segment-view value="job">
    <ion-segment-content id="job">
      <form [formGroup]="jobForm"  >
        <div class="box">
          <h2 class="heading">Job Details</h2>
          <p>Job Title <span style="color: red">*</span></p>
          <input type="text" required />
          <p>Job Category <span style="color: red">*</span></p>
          <select name="" id="" style="margin-bottom: 14px">
            <option value selected>Select Job Category</option>
            <option value="it">IT</option>
            <option value="health">Healthcare</option>
            <option value="aviation">Aviation</option>
            <option value="finance">Finance</option>
          </select>
          <ion-label position="fixed" slot="start"
            >Job Type <span style="color: red">*</span>
          </ion-label>
    <div class="job-type-toggle">
            <ion-button
              shape="round"
              [fill]="jobtype === 'fulltime' ? 'solid' : 'outline'"
              [color]="jobtype === 'fulltime' ? 'primary' : 'medium'"
              (click)="selectjobType('fulltime')"
            >
              Full Time
            </ion-button>

            <ion-button
              shape="round"
              [fill]="jobtype === 'parttime' ? 'solid' : 'outline'"
              [color]="jobtype === 'parttime' ? 'primary' : 'medium'"
              (click)="selectjobType('parttime')"
            >
            Part Time
            </ion-button>
          </div>
         
          <p>No. of Positions Open <span style="color: red">*</span></p>
          <input type="number" />
          <p>Job Description <span style="color: red">*</span></p>
          <ion-textarea autoGrow="true" class="spacebottom"> </ion-textarea>
          
          <p>Candidate Requirement <span style="color: red">*</span></p>
          <div class="candidate-type-toggle">
            <ion-button
              shape="round"
              [fill]="candidatetype === 'fresher' ? 'solid' : 'outline'"
              [color]="candidatetype === 'fresher' ? 'primary' : 'medium'"
              (click)="selectcanType('fresher')"
            >
              Fresher
            </ion-button>

            <ion-button
              shape="round"
              [fill]="candidatetype === 'experienced' ? 'solid' : 'outline'"
              [color]="candidatetype === 'experienced' ? 'primary' : 'medium'"
              (click)="selectcanType('experienced')"
            >
          Experienced
            </ion-button>
          </div> 
          <ion-label>
            Select Gender <span style="color: red">*</span>
          </ion-label>
          
          <div class="gender-type-toggle">
            <ion-button
              shape="round"
              [fill]="isgender === 'male' ? 'solid' : 'outline'"
              [color]="isgender === 'male' ? 'primary' : 'medium'"
              (click)="selectgenderType('male')"
            >
              Male
            </ion-button>

            <ion-button
              shape="round"
              [fill]="isgender === 'female' ? 'solid' : 'outline'"
              [color]="isgender === 'female' ? 'primary' : 'medium'"
              (click)="selectgenderType('female')"
            >
            Female
            </ion-button>
          </div>
          <p>Candidate Location</p>
          <div class="location-toggle">
            <ion-button
              *ngFor="let location of jobLocations"
              shape="round"
              [fill]="selectedLocation === location ? 'solid' : 'outline'"
              [color]="selectedLocation === location ? 'primary' : 'medium'"
              (click)="selectLocation(location)"
            >
              {{ location }}
            </ion-button>
          </div> 
          <p>
            Is this a work from home job? <span style="color: red">*</span>
          </p>

          <div class="work-type-toggle">
            <ion-button
              shape="round"
              [fill]="isWorkFromHome === 'yes' ? 'solid' : 'outline'"
              [color]="isWorkFromHome === 'yes' ? 'primary' : 'medium'"
              (click)="selectWorkType('yes')"
            >
              Yes
            </ion-button>

            <ion-button
              shape="round"
              [fill]="isWorkFromHome === 'no' ? 'solid' : 'outline'"
              [color]="isWorkFromHome === 'no' ? 'primary' : 'medium'"
              (click)="selectWorkType('no')"
            >
              No
            </ion-button>
          </div>
          <p>Minimum Qualification <span style="color: red">*</span></p>
          <div class="qualification-buttons">
            <ion-button
              *ngFor="let level of qualificationLevels"
              [fill]="isSelected(level) ? 'solid' : 'outline'"
              [color]="isSelected(level) ? 'primary' : 'medium'"
              shape="round"
              (click)="toggleSelection(level)"
            >
              {{ level }}
            </ion-button>
          </div>
          <p>Salary per Month <span style="color: red">*</span></p>
          <input type="number" />

          <p>Mention Skills required <span style="color: red">*</span></p>
          <ion-textarea autoGrow="true" class="txtarea"> </ion-textarea>

          <p>
            Is there any security deposit charged to the candidate (Eg. Uniform,
            Kit, Bike)? <span style="color: red">*</span>
          </p>
          <div class="security-toggle">
            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'yes' ? 'solid' : 'outline'"
              [color]="issecuritygiven === 'yes' ? 'primary' : 'medium'"
              (click)="selectsecurity('yes')"
            >
              Yes
            </ion-button>

            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'no' ? 'solid' : 'outline'"
              [color]="issecuritygiven === 'no' ? 'primary' : 'medium'"
              (click)="selectsecurity('no')"
            >
              No
            </ion-button>
          </div>
          <p>Languages Known <span style="color: red">*</span></p>

          <ion-label>Language 1</ion-label>
          <select class="langlabel">
            <option value selected>Select option</option>
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Marathi">Marathi</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Maitali">Maitali</option>
            <option value="Bengali">Bengali</option>
          </select>
          <div class="rws">
            <ion-checkbox>Read</ion-checkbox>
            <ion-checkbox>Write</ion-checkbox>
            <ion-checkbox>Speak</ion-checkbox>
          </div>
          <ion-label>Language 2</ion-label>
          <select class="langlabel">
            <option value selected>Select option</option>
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Marathi">Marathi</option>
            <option value="Gujrati">Gujrati</option>
            <option value="Maithali">Maithali</option>
            <option value="Bengali">Bengali</option>
          </select>
          <div class="rws">
            <ion-checkbox>Read</ion-checkbox>
            <ion-checkbox>Write</ion-checkbox>
            <ion-checkbox>Speak</ion-checkbox>
          </div>

          <p>Job Timing <span style="color: red">*</span></p>
          <label for="starttime">Start Time</label>
          <input
            type="time"
            name="starttime"
            id="starttime"
            class="jdinputspace"
          />
          <label for="endtime">End Time</label>
          <input type="time" name="endtime" id="endtime" class="jdinputspace" />
          <p>Interview Details <span style="color: red">*</span></p>
          <label for="time">Timing</label>
          <select name="" id="time" class="jdinputspace">
            <option value selected>Select Timings</option>
            <option value="9">9:00 AM - 11:00 AM</option>
            <option value="11">11:00 AM- 1:00 PM</option>
            <option value="14">2:00 PM - 4:00 PM</option>
            <option value="16">4:00 PM - 6:00 PM</option>
          </select>
          <label for="day">Day</label>
          <select id="day" class="jdinputspace">
            <option value selected>Select Day</option>
            <option value="sun">Sunday</option>
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wed">Wednesday</option>
            <option value="thurs">Thursday</option>
            <option value="fri">Friday</option>
            <option value="sat">Saturday</option>
          </select>

          <ion-button expand="full" (click)="next.emit()"> Next </ion-button>
        </div>
      </form>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>